/* css/layout.css */
body {
    background-color: var(--background-color);
    color: var(--text-primary);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, #080808, #111111);
    background-attachment: fixed;
  }
  
  html {
    scroll-behavior: smooth;
  }