/* Video container */
.video-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 8px solid #cf8d7c; /* Cor de início do gradiente */
  border-radius: 40px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.video-container:hover {
  border-color: #a77cb4; /* Cor final do gradiente */
}

/* Text container */
.text-container {
  text-align: center;
  margin-top: 20px;
}

/* Customize the message text styling */
.message {
  background: -webkit-gradient(linear, left top, right top, from(#cf8d7c), to(#a77cb4));
  background: -webkit-linear-gradient(left, #cf8d7c, #a77cb4);
  background: linear-gradient(90deg, #cf8d7c, #a77cb4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

/* Container for the buttons */
.container {
  border: 8px solid #cf8d7c; /* Cor de início do gradiente */
  border-radius: 40px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

/* Style the buttons */
.ambiente {
  /* Base styles from the given button */
  display: inline-flex;
items-center:justify-center;
padding: 10px 20px; /* Aumenta o espaçamento interno dos botões */
font-size: 18px; /* Aumenta o tamanho da fonte */
border-radius: 20px;
justify-content: center;
whitespace-nowrap;
rounded-sm;
px-3;
py-1.5;
text-sm;
font-medium;
transition-all;
focus-visible:outline-none;
focus-visible:ring-2;
focus-visible:ring-ring;
focus-visible:ring-offset-2;
disabled:pointer-events-none;
disabled:opacity-50;

/* Specific styles for your buttons */
background: linear-gradient(to right, #cf8d7c, #cf8d7c, #a77cb4); /* Gradient background */
color: #333; /* Text color */
border: 1px solid #ddd; /* Border */
}

.ambiente:hover {
  background: linear-gradient(to right, #cf8d7c, #a77cb4, #a77cb4); /* Adjust gradient for hover */
}

.ambiente[data-state="active"] {
  background: linear-gradient(to right, #a77cb4, #a77cb4, #cf8d7c); /* Adjust gradient for active state */
  color: #fff; /* Text color for active state */
}

/* Efeitos visuais gerais */
body {
  background-color: #f2f2f2; /* Fundo suave */
  font-family: sans-serif;
  transition: background-color 0.3s ease-in-out; /* Transição suave no fundo */
}

/* Efeitos de hover mais elaborados */
.video-container:hover {
  border-color: #a77cb4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}

body {
  background-image: url(./fundo.jpg);
  background-size: cover; /* Ajusta a imagem para caber dentro da tela */
  background-position: center center; /* Posiciona a imagem no centro da tela */
  background-attachment: fixed; /* Faz com que a imagem fique fixa e não se mova com a rolagem da página */
  background-repeat: no-repeat; 
}
