<ul class="mw">
	
        
        
            
    <li class="subheader devicepadding">Quinta-feira, 14/11</li>

<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Transformers" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Transformers" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">22:20</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Transformers</h2>
                <h3>Ação</h3>
            </div>
            
            <div class="liright" bis_skin_checked="1"><div class="noar" bis_skin_checked="1">NO AR</div></div>
            
        </a>
    </li>



    
        
            <li class="divider"></li>
        
    
    <li class="subheader devicepadding">Sexta-feira, 15/11</li>

<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Transformers - A Vingança dos Derrotados" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Transformers - A Vingança dos Derrotados" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">00:49</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Transformers - A Vingança dos Derrotados</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Jogos Mortais 4" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Jogos Mortais 4" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">03:17</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Jogos Mortais 4</h2>
                <h3>Terror</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Jogos Mortais 5" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Jogos Mortais 5" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">04:47</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Jogos Mortais 5</h2>
                <h3>Terror</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Parker" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Parker" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">06:00</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Parker</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Fúria Mortal" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Fúria Mortal" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">07:39</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Fúria Mortal</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



    <li class="divider">

<div class="ad" style="text-align: center; padding-bottom: 24px;" bis_skin_checked="1">

Publicidade:
<div bis_skin_checked="1">
    <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7504334276740439" crossorigin="anonymous"></script>
    <!-- Middle responsive -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7504334276740439" data-ad-slot="6514614172" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

</div>

</li>

<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI Investigação Criminal : T1 EP21 - Justiça É Feita" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI Investigação Criminal : T1 EP21 - Justiça É Feita" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">09:17</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI Investigação Criminal : T1 EP21 - Justiça É Feita</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI Investigação Criminal : T1 EP22 - Dia de Avaliação" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI Investigação Criminal : T1 EP22 - Dia de Avaliação" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">10:07</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI Investigação Criminal : T1 EP22 - Dia de Avaliação</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI: Miami : T1 EP21 - Férias de Primavera" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI: Miami : T1 EP21 - Férias de Primavera" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">10:57</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI: Miami : T1 EP21 - Férias de Primavera</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI: Miami : T1 EP22 - Barril de Pólvora" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI: Miami : T1 EP22 - Barril de Pólvora" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">11:47</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI: Miami : T1 EP22 - Barril de Pólvora</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Transformers" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Transformers" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">12:37</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Transformers</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Transformers - A Vingança dos Derrotados" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Transformers - A Vingança dos Derrotados" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">15:13</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Transformers - A Vingança dos Derrotados</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Operação Fronteira - Brasil : T2 EP15 - Cegonha Carregada" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Operação Fronteira - Brasil : T2 EP15 - Cegonha Carregada" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">17:53</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Operação Fronteira - Brasil : T2 EP15 - Cegonha Carregada</h2>
                <h3>Policial</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Operação Fronteira - Brasil : T2 EP16 - Ônibus Tudão" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Operação Fronteira - Brasil : T2 EP16 - Ônibus Tudão" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">18:26</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Operação Fronteira - Brasil : T2 EP16 - Ônibus Tudão</h2>
                <h3>Policial</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI Investigação Criminal : T1 EP21 - Justiça É Feita" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI Investigação Criminal : T1 EP21 - Justiça É Feita" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">19:00</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI Investigação Criminal : T1 EP21 - Justiça É Feita</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI Investigação Criminal : T1 EP22 - Dia de Avaliação" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI Investigação Criminal : T1 EP22 - Dia de Avaliação" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">19:50</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI Investigação Criminal : T1 EP22 - Dia de Avaliação</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI: Miami : T1 EP21 - Férias de Primavera" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI: Miami : T1 EP21 - Férias de Primavera" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">20:40</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI: Miami : T1 EP21 - Férias de Primavera</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI: Miami : T1 EP22 - Barril de Pólvora" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI: Miami : T1 EP22 - Barril de Pólvora" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">21:30</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI: Miami : T1 EP22 - Barril de Pólvora</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Transformers - O Lado Oculto da Lua" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Transformers - O Lado Oculto da Lua" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">22:20</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Transformers - O Lado Oculto da Lua</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



    
        
            <li class="divider"></li>
        
    
    <li class="subheader devicepadding">Sábado, 16/11</li>

<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Transformers - A Era da Extinção" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Transformers - A Era da Extinção" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">00:59</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Transformers - A Era da Extinção</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



    <li class="divider">

<div class="ad" style="text-align: center; padding-bottom: 24px;" bis_skin_checked="1">

Publicidade:
<div bis_skin_checked="1">
    <script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7504334276740439" crossorigin="anonymous"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-gw-3+1f-3d+2z" data-ad-client="ca-pub-7504334276740439" data-ad-slot="2773274749"></ins>
    <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
   </div>

</div>

</li>

<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Transformers - O Último Cavaleiro" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Transformers - O Último Cavaleiro" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">03:42</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Transformers - O Último Cavaleiro</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Parker" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Parker" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">06:00</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Parker</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Transformers - O Lado Oculto da Lua" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Transformers - O Lado Oculto da Lua" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">07:48</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Transformers - O Lado Oculto da Lua</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI Investigação Criminal : T1 EP23 - O Estrangulador Strip" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI Investigação Criminal : T1 EP23 - O Estrangulador Strip" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">10:31</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI Investigação Criminal : T1 EP23 - O Estrangulador Strip</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI Investigação Criminal : T2 EP1 - A Picada do Escorpião" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI Investigação Criminal : T2 EP1 - A Picada do Escorpião" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">11:21</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI Investigação Criminal : T2 EP1 - A Picada do Escorpião</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI: Miami : T1 EP23 - Aberrações e Ajustes" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI: Miami : T1 EP23 - Aberrações e Ajustes" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">12:11</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI: Miami : T1 EP23 - Aberrações e Ajustes</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI: Miami : T1 EP24 - Contagem de Corpos" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI: Miami : T1 EP24 - Contagem de Corpos" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">13:01</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI: Miami : T1 EP24 - Contagem de Corpos</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="John Wick - De Volta ao Jogo" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="John Wick - De Volta ao Jogo" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">13:31</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>John Wick - De Volta ao Jogo</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Transformers - A Era da Extinção" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Transformers - A Era da Extinção" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">15:18</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Transformers - A Era da Extinção</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Transformers - O Último Cavaleiro" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Transformers - O Último Cavaleiro" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">18:14</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Transformers - O Último Cavaleiro</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Mad Max - Estrada da Fúria" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Mad Max - Estrada da Fúria" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">20:56</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Mad Max - Estrada da Fúria</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI Investigação Criminal : T1 EP23 - O Estrangulador Strip" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI Investigação Criminal : T1 EP23 - O Estrangulador Strip" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">23:00</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI Investigação Criminal : T1 EP23 - O Estrangulador Strip</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI Investigação Criminal : T2 EP1 - A Picada do Escorpião" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI Investigação Criminal : T2 EP1 - A Picada do Escorpião" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">23:50</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI Investigação Criminal : T2 EP1 - A Picada do Escorpião</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



    
        
            <li class="divider"></li>
        
    
    <li class="subheader devicepadding">Domingo, 17/11</li>

<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI: Miami : T1 EP23 - Aberrações e Ajustes" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI: Miami : T1 EP23 - Aberrações e Ajustes" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">00:40</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI: Miami : T1 EP23 - Aberrações e Ajustes</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="CSI: Miami : T1 EP24 - Contagem de Corpos" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="CSI: Miami : T1 EP24 - Contagem de Corpos" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">01:30</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>CSI: Miami : T1 EP24 - Contagem de Corpos</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="O Último Boy Scout" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="O Último Boy Scout" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">02:20</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>O Último Boy Scout</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Os Pequenos Vestígios" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Os Pequenos Vestígios" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">03:57</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Os Pequenos Vestígios</h2>
                <h3>Drama</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="O Patriota" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="O Patriota" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">06:00</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>O Patriota</h2>
                <h3>Drama</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="O Último Boy Scout" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="O Último Boy Scout" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">08:49</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>O Último Boy Scout</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="John Wick - De Volta ao Jogo" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="John Wick - De Volta ao Jogo" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">10:39</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>John Wick - De Volta ao Jogo</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Máquina Mortífera" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Máquina Mortífera" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">12:27</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Máquina Mortífera</h2>
                <h3>Suspense</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Máquina Mortífera 2" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Máquina Mortífera 2" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">14:27</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Máquina Mortífera 2</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Máquina Mortífera 3" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Máquina Mortífera 3" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">16:32</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Máquina Mortífera 3</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Máquina Mortífera 4" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Máquina Mortífera 4" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">18:38</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Máquina Mortífera 4</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Os Pequenos Vestígios" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Os Pequenos Vestígios" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">21:00</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Os Pequenos Vestígios</h2>
                <h3>Drama</h3>
            </div>
            
        </a>
    </li>



<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Mad Max - Estrada da Fúria" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Mad Max - Estrada da Fúria" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">23:14</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Mad Max - Estrada da Fúria</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



    
        
            <li class="divider"></li>
        
    
    <li class="subheader devicepadding">Segunda-feira, 18/11</li>

<!--
    <% if dia_atual != programa[:inicio].strftime("%d/%m") %>

        <% if dia_atual != "" %>

            <% if index == 6 %>
                <%= render "shared/adsense_middle" %>
            <% else %>
                <li class="divider"></li>
            <%end %>

        <%end %>
    
        <li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
    <% else %>
    
        <% if index == 6 %>
            <%= render "shared/adsense_middle" %>
        <%end %>
    
    <% end %>

    <% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

    <li>
        <!-- <a title="Perseguidor Implacável" class="devicepadding"  href="/programacao/programa/" > -->
        <a title="Perseguidor Implacável" class="devicepadding">
            <div class="lileft time" bis_skin_checked="1">01:16</div>
            <div class="licontent" bis_skin_checked="1">
                <h2>Perseguidor Implacável</h2>
                <h3>Ação</h3>
            </div>
            
        </a>
    </li>



</ul>